PORT=3001
MONGO_URI=mongodb://localhost:27017/ms-identidad
RABBITMQ_URI=amqp://localhost:5672
GOVCARPETA_BASE_URL=https://govcarpeta-apis-4905ff3c005b.herokuapp.com
OPERATOR_ID=
OPERATOR_NAME=Operador Ciudadano EAFIT
JWT_SECRET=cambiar-en-produccion
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
